* {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-size: 12px;
    list-style-type: none;  
    text-decoration: none;  
}

body {
    background-color: #dcf4f0;
}

p, .paragraph {
    padding: 7px;
}


#main {
    margin: 20px;
}

.both {
    clear: both;
}

#content {
    background-color: #fff;
    float: left;
    width: 75%;
    margin: 5px;
}

#tools {
    float: right;
    width: 15%;
    margin: 5px;
}

#logo {
    background: url(/imgs/logo.png) no-repeat;
    width: 189px;
    height: 69px;
    float: left;
    margin: 20px;
}



#hide {
    display: none;
    
}
#original {

}

#menu {
    float: right;
    width: 440px;
    margin: 40px;
    padding: 2px;
    background-color: #fff;
}

#menu a {
    display: block;
    float:left;
    padding: 3px;
    margin: 3px;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
    background-color: #ccc;
}


#suggestions {
    z-index: 999;
    position: absolute;
    left: 0px;
    /*top: 0px;*/
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.close {
    float: right;
}
